<template>
  <v-container id="container">
    <v-container id="recherche">
      <v-text-field
        type="text"
        class="inputUppercase"
        @input="masquerResultats()"
        label="Combinaison de lettres"
        autocomplete="off"
        color="#b73b63"
        v-model="lettres"
        :rules="[this.rules.input.regex]"
      />
      <v-text-field
        type="number"
        min="0"
        color="#b73b63"
        @input="masquerResultats()"
        label="Nombre maximum de résultats"
        autocomplete="off"
        v-model="maxResultats"
      />
      <v-btn
        @click="trouverMots()"
        :disabled="!this.dictionnairePret || this.reg.test(this.lettres)"
        >Trouver mots</v-btn
      >
    </v-container>

    <v-container
      id="resultats"
      v-show="!this.rechercheVide && this.rechercheLancee"
    >
      <v-btn id="vider" @click="viderResultats()">Vider résultats</v-btn>
      <h3>Mots jouables parmi {{ lettresUppercase }}</h3>
      <h4>{{ this.maxResultatsStr }}</h4>
      <ul>
        <li v-for="r in this.resultats" :key="r">
          {{ r }}
        </li>
      </ul>
    </v-container>

    <v-container id="resultatsVides" v-show="this.rechercheVide">
      <h4>
        Désolé votre recherche n'a renvoyé aucun mot jouable. <br />Voici une
        chanson pour vous consoler.
      </h4>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/vGxOs9OrLYk"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </v-container>

    <v-container id="verifierMots">
      <h1>Vérifier si un mot est valide</h1>

      <v-container id="inputMots">
        <v-text-field
          type="text"
          class="inputUppercase"
          label="Mot"
          autocomplete="off"
          color="#b73b63"
          v-model="mot"
          :rules="[this.rules.input.regex]"
          @input="cacherMessageVerif()"
        />
        <v-btn
          @click="verifierMot()"
          :disabled="!this.dictionnairePret || this.reg.test(this.mot)"
          >Vérifier mot</v-btn
        >
      </v-container>

      <v-container id="resultatVerif">{{ messageVerif }}</v-container>
    </v-container>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      dict: [],
      resultats: [],
      score: [],
      lettres: '',
      mot: '',
      messageVerif: '',
      maxResultats: 20,
      longueurTheorique: 0,
      rechercheVide: false,
      rechercheLancee: false,
      dictionnairePret: false,
      reg: new RegExp('[^A-zÀ-ú?]', 'g'),
      rules: {
        input: {
          regex: e => !this.reg.test(e) || 'Entrée invalide - cf. instructions'
        }
      }
    };
  },

  mounted() {
    this.fetchData();
  },

  computed: {
    listeLettres: function() {
      const lettresUp = this.lettres.toUpperCase();
      const liste = [...lettresUp];
      return liste;
    },

    lettresUppercase: function() {
      return this.lettres.toUpperCase();
    },

    longueurResultats: function() {
      if (this.resultats) {
        const str = `${this.resultats.length} `;
        return this.resultats.length > 1
          ? str + 'mots trouvés'
          : str + 'mot trouvé';
      } else {
        return '0 mot trouvé';
      }
    },

    maxResultatsStr: function() {
      if (this.maxResultats === 0) {
        const str = `${this.resultats.length} `;
        return this.resultats.length > 1
          ? str + 'mots trouvés'
          : str + 'mot trouvé';
      }

      return this.maxResultats > 1
        ? `Résultats limités aux ${this.maxResultats} premiers éléments - ${this.longueurTheorique} mots trouvés`
        : `Résultats limités au premier élément - ${this.longueurTheorique} mots trouvés`;
    }
  },

  methods: {
    async fetchData() {
      const filename = 'monDico.txt';
      try {
        const res = await fetch(filename);
        const text = await res.text();
        this.dict = text.trim().split('\n');
        console.log('Dictionnaire chargé');
        this.dictionnairePret = true;
      } catch (err) {
        console.error(err.message);
        console.error(`Erreur lors du chargement de ${filename}`);
        this.dict = [];
      }

      try {
        const resScore = await fetch('score.json');
        this.score = await resScore.json();
      } catch (err) {
        console.error(err.message);
        console.error('Erreur lors du chargement de score.json');
        this.score = [];
      }
    },

    deleteItem: function(array, itemIndex) {
      return array.filter((_, index) => index !== itemIndex);
    },

    estUnMotValideUtil: function(mot, listeLettres) {
      if (mot.length === 0) {
        return true;
      }

      const index = listeLettres.indexOf(mot[0]);
      let resteMot, nouvelleListe;

      if (index !== -1) {
        resteMot = mot.substr(1);
        nouvelleListe = this.deleteItem(listeLettres, index);
        return this.estUnMotValideUtil(resteMot, nouvelleListe);
      } else {
        const jokerIndex = listeLettres.indexOf('?');

        if (jokerIndex !== -1) {
          resteMot = mot.substr(1);
          nouvelleListe = this.deleteItem(listeLettres, jokerIndex);
          return this.estUnMotValideUtil(resteMot, nouvelleListe);
        } else {
          return false;
        }
      }
    },

    estUnMotValide: function(mot) {
      return mot.length <= this.listeLettres.length
        ? this.estUnMotValideUtil(mot.toUpperCase(), this.listeLettres)
        : false;
    },

    getValeur: function(lettre) {
      for (let i = 0; i < this.score.length; i++) {
        if (this.score[i].Lettre === lettre) {
          return this.score[i].Valeur;
        }
      }

      return 0;
    },

    getScore: function(mot) {
      let score = 0;
      for (const lettre of [...mot]) {
        score += this.getValeur(lettre);
      }

      return score;
    },

    comparerElements: (a, b) => {
      let cmp;

      if (a.Score > b.Score) {
        cmp = -1;
      } else if (a.Score < b.Score) {
        cmp = 1;
      } else {
        if (a.Mot > b.Mot) {
          cmp = 1;
        } else if (a.Mot < b.Mot) {
          cmp = -1;
        } else {
          cmp = 0;
        }
      }
      return cmp;
    },

    trouverMots: function() {
      let liste = [];
      this.resultats = [];
      this.rechercheVide = false;

      for (const mot of this.dict) {
        if (this.estUnMotValide(mot)) {
          const element = {
            Mot: mot,
            Score: this.getScore(mot)
          };
          liste.push(element);
        }
      }

      if (liste.length === 0) {
        this.rechercheVide = true;
        this.resultats.push('Aucun résultat trouvé');
      } else {
        liste.sort((a, b) => this.comparerElements(a, b));

        if (this.maxResultats > 0) {
          this.longueurTheorique = liste.length;
          liste = liste.slice(0, this.maxResultats);
        }

        for (const element of liste) {
          this.resultats.push(this.resultatToString(element));
        }
      }

      this.rechercheLancee = true;
    },

    resultatToString: function(r) {
      const str = `${r.Mot} - ${r.Score} `;

      return r.Score > 1 ? str + 'pts' : str + 'pt';
    },

    masquerResultats: function() {
      this.rechercheLancee = false;
    },

    viderResultats: function() {
      this.resultats = [];
      this.rechercheLancee = false;
    },

    verifierMot: function() {
      const m = this.mot.toUpperCase();
      if (this.dict.includes(m)) {
        this.messageVerif = `${m} fait partie du dictionnaire.`;
      } else {
        this.messageVerif = `${m} ne fait pas partie du dictionnaire.`;
      }
    },

    cacherMessageVerif() {
      this.messageVerif = '';
    }
  }
};
</script>

<style lang="scss" scoped></style>
