.v-navigation-drawer {
  background: rgba(1, 1, 1, 0.7) !important;
}

#instructions {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 5px 0px 5px;
}

#instructions p {
  text-align: center;
  margin: 0px !important;
}

.v-navigation-drawer .v-navigation-drawer__border {
  background-color: rgba(72, 23, 39, 0.6) !important;
}
/*# sourceMappingURL=instructions.css.map */