@import 'variables.scss';
.v-navigation-drawer {
    background: $noirTransparent !important;
}

#instructions {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0px 5px 0px 5px;
}

#instructions p {
    text-align: center;
    margin: 0px !important;
}

.v-navigation-drawer .v-navigation-drawer__border {
    background-color: $bordureDrawer !important;
}