@import 'variables.scss';
.v-application {
    background-color: #3bb78f !important;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%) !important;
    width: 100%;
    font-family: 'Lato';
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.v-application--wrap {
    align-items: center;
}

#appContainer,
#resultatsVides {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputUppercase input {
    text-transform: uppercase
}

.v-input input {
    text-align: center;
}

.v-text-field .v-label {
    transform-origin: top center;
    text-align: center;
}

.v-btn {
    color: $blanc !important;
    background-color: $rouge !important;
    max-width: fit-content;
}

a {
    color: $rouge !important;
    font-weight: bold;
}

#resultats {
    min-height: 400px;
    text-align: center;
}

#resultats ul {
    list-style: none;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#resultats li {
    min-width: fit-content;
}

#vider {
    margin: 0px 0px 10px 0px;
}

#recherche {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.v-text-field {
    max-width: 200px;
}

@media (max-width: $breakpoint) {
    #recherche {
        flex-direction: column;
    }
}