.v-application {
  background-color: #3bb78f !important;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%) !important;
  width: 100%;
  font-family: 'Lato';
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.v-application--wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#appContainer,
#resultatsVides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputUppercase input {
  text-transform: uppercase;
}

.v-input input {
  text-align: center;
}

.v-text-field .v-label {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  text-align: center;
}

.v-btn {
  color: #ffffff !important;
  background-color: #b73b63 !important;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

a {
  color: #b73b63 !important;
  font-weight: bold;
}

#resultats {
  min-height: 400px;
  text-align: center;
}

#resultats ul {
  list-style: none;
  max-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#resultats li {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

#vider {
  margin: 0px 0px 10px 0px;
}

#recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.v-text-field {
  max-width: 200px;
}

@media (max-width: 630px) {
  #recherche {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */