// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$blanc: #ffffff;
$rouge: #b73b63;
$bordureDrawer: rgba(72, 23, 39, 0.6);
$noirTransparent: rgba(1, 1, 1, 0.7);
$breakpoint: 630px;