#verifierMots {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#verifierMots .v-btn {
    margin: 0px 0px 0px 20px;
}

#resultatVerif {
    max-width: fit-content;
}

#inputMots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 370px) {
    #inputMots {
        flex-direction: column;
    }
}

#inputMots,
#resultatVerif {
    padding: 5px;
}