<template>
  <v-app>
    <v-container id="appContainer">
      <h1>Recherche Scrabble</h1>
      <v-navigation-drawer v-model="drawer" absolute temporary>
        <div id="instructions">
          <p>
            Ce site permet de trouver tous les mots jouables au Scrabble parmi
            une combinaison de lettres.<br />
            Utiliser ? pour désigner une case vide.<br />
            Vous pouvez taper toutes les lettres en minuscules - le programme se
            charge automatiquement de les mettre en majuscule. <br /><br />
            Le dictionnaire est basé sur les mots du site Internet
            <a
              href="https://www.listesdemots.net/touslesmots.htm"
              target="_blank"
              >listedemots.net</a
            >
            qui regroupe tous les mots faisant partie de la huitième édition du
            dictionnaire officiel du Scrabble (ODS8).<br /><br />
            Crédit pour la favicon:
            <a
              href="https://www.flaticon.com/authors/mynamepong"
              target="_blank"
              title="mynamepong"
              >mynamepong</a
            >
            de
            <a href="https://www.flaticon.com/" target="_blank" title="Flaticon"
              >flaticon.com</a
            >
          </p>
        </div>
      </v-navigation-drawer>
      <v-btn @click.stop="toggleDrawer()">Instructions</v-btn>
      <scrabble />
    </v-container>
  </v-app>
</template>

<script>
import Scrabble from '@/components/Scrabble.vue';
export default {
  components: { scrabble: Scrabble },
  data() {
    return {
      drawer: false
    };
  },

  methods: {
    toggleDrawer: function() {
      this.drawer = !this.drawer;
    }
  }
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import 'assets/css/style.css';
@import 'assets/css/instructions.css';
@import 'assets/css/verifierMots.css';
</style>
